/server/model/asc_aed/01_source/aed_module/pre_trained_models/*pth filter=lfs diff=lfs merge=lfs -text
/server/model/speaker_diarization/model/*ckpt filter=lfs diff=lfs merge=lfs -text
/server/model/speech_to_text_lid/pre_trained_model/*pt filter=lfs diff=lfs merge=lfs -text
/server/model/wav2vec2_checkpoints/*bin filter=lfs diff=lfs merge=lfs -text
server/service_asc_aed/model/asc_aed/01_source/aed_module/pre_trained_models/Cnn14_mAP=0.431.pth filter=lfs diff=lfs merge=lfs -text
server/service_whisper/model/speech_to_text_lid/pre_trained_model/base.pt filter=lfs diff=lfs merge=lfs -text
server/service_whisper/model/speech_to_text_lid/pre_trained_model/tiny.pt filter=lfs diff=lfs merge=lfs -text
server/service_whisper/model/speaker_diarization/model/classifier.ckpt filter=lfs diff=lfs merge=lfs -text
server/service_whisper/model/speaker_diarization/model/embedding_model.ckpt filter=lfs diff=lfs merge=lfs -text
server/service_whisper/model/speaker_diarization/model/mean_var_norm_emb.ckpt filter=lfs diff=lfs merge=lfs -text
server/service_whisper/model/wav2vec2_checkpoints/models--facebook--wav2vec2-base/blobs/*bin filter=lfs diff=lfs merge=lfs -text
server/service_whisper/model/wav2vec2_checkpoints/models--facebook--wav2vec2-base/blobs/3f24dc078fcba55ee1d417a413847ead40c093a3 filter=lfs diff=lfs merge=lfs -text
server/service_whisper/model/wav2vec2_checkpoints/models--facebook--wav2vec2-base/blobs/47d7dc533f6d412e1c021eb181615d006e403bed filter=lfs diff=lfs merge=lfs -text
server/service_whisper/model/wav2vec2_checkpoints/models--facebook--wav2vec2-base/blobs/3249fe98bfc62fcbc26067f724716a6ec49d12c4728a2af1df659013905dff21 filter=lfs diff=lfs merge=lfs -text
server/service_whisper/model/wav2vec2_checkpoints/models--facebook--wav2vec2-base/blobs/6180a447f726e4a2ab8b50effaf0a96f5b161489c620087c3b05418f0179f875 filter=lfs diff=lfs merge=lfs -text
